{% extends 'layouts/main.html' %}
{% block content %}
    <section class="background">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="back">
                        <div class="line1 os-animation" data-os-animation="rotateInDownLeft"
                             data-os-animation-delay="1s"></div>
                        <div class="line2 os-animation" data-os-animation="rotateInDownLeft"
                             data-os-animation-delay="1s"></div>
                        <h2 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.50s">Baza ponad
                            5000 restautacji</h2>
                        <h3 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="1s">Zamawiaj
                            online</h3>
                        <div class="line3 os-animation" data-os-animation="rotateInDownRight"
                             data-os-animation-delay="1s"></div>
                        <div class="line4 os-animation" data-os-animation="rotateInDownRight"
                             data-os-animation-delay="1s"></div>
                    </div>
                </div>
            </div>
    </section>
    <section class="section3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="ordaring">
                        <h2 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.50s">
                            Zamawianie jedzenia nigdy nie było takie łatwe
                        </h2>
                        <div class="dotted os-animation" data-os-animation="bounceInLeft"
                             data-os-animation-delay="1s"></div>
                        <p class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.50s">Wystarczą 4
                            kroki</p>
                        <div class="dotted1 os-animation" data-os-animation="bounceInRight"
                             data-os-animation-delay="1s"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.5s">
                        <div class="step-no">1</div>
                        <div class="step-content">
                            <div class="step-image">
                                <i class="fa fa-building"></i>
                            </div>
                            <div class="step-name">
                                Wybierz restaurację
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="1.5s">
                        <div class="step-no">2</div>
                        <div class="step-content">
                            <div class="step-image">
                                <i class="fa fa-utensils"></i>
                            </div>
                            <div class="step-name">
                                Zamów danie
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="2.5s">
                        <div class="step-no">3</div>
                        <div class="step-content">
                            <div class="step-image">
                                <i class="fa fa-money-bill-wave"></i>
                            </div>
                            <div class="step-name">
                                Zapłać online
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="3.5s">
                        <div class="step-no">4</div>
                        <div class="step-content">
                            <div class="step-image">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="step-name">
                                Ciesz się jedzeniem
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section4">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="restaurants">
                    <h3 class="os-animation" data-os-animation="rollIn" data-os-animation-delay="1s">
                        Najpopularniejsze restauracje
                    </h3>
                </div>
                <div class="dotted6 os-animation" data-os-animation="bounceInRight"
                     data-os-animation-delay="0.50s"></div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <figure class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.4s">
                            <a href="https://kfc.pl/" target="_blank" class="restaurant-link">
                                <img src="https://kfc.pl/assets/themes/kfcnext/assets/images/kfc_logo.png" alt=""
                                     class="restaurant-logo"/>
                            </a>
                        </figure>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <figure class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
                            <a href="https://mcdonalds.pl/" target="_blank" class="restaurant-link">
                                <img src="https://dsmaipc1fg2ox.cloudfront.net/img/mcd_logo.svg" alt=""
                                     class="restaurant-logo"/>
                            </a>
                        </figure>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <figure class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.2s">
                            <a href="https://subway.pl" class="restaurant-link">
                                <img src="https://www.underconsideration.com/brandnew/archives/subway_logo.png"
                                     class="restaurant-logo" alt=""/>
                            </a>
                        </figure>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <figure class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.6s">
                            <a href="https://www.dominospizza.pl/" target="_blank" class="restaurant-link">
                                <img src="https://www.dominospizza.pl/default/img/logo.png" class="restaurant-logo"
                                     alt=""/>
                            </a>
                        </figure>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <figure class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.2s">
                            <a href="http://manekin.pl/" target="_blank" class="restaurant-link">
                                <img src="http://zahirkebab.pl/wp-content/uploads/2017/08/logo_465x320-1.png"
                                     class="restaurant-logo" alt=""/>
                            </a>
                        </figure>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <figure class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.6s">
                            <a href="http://zahirkebab.pl/" target="_blank" class="restaurant-link">
                                <img src="http://manekin.pl/public/img/logo.png" class="restaurant-logo" alt=""/>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
            <!--row-->
        </div>
    </section>
    <section class="section5">
        <div class="container" id="resturant">
            <!---col-->

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="food">
                    <h3 class="os-animation" data-os-animation="rollIn" data-os-animation-delay="2.5s">Popularne
                        dania</h3>
                </div>
                <div class="dotted7 os-animation" data-os-animation="bounceInRight"
                     data-os-animation-delay="2.8s"></div>
                <div class="food1">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3s"><img src="{{ url_for('static', filename='images/pizz.png') }}" alt=""/>
                                <div class="order"><a href="#">Pizza</a></div>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.2s"><img src="{{ url_for('static', filename='images/burgar.png') }}" alt=""/>
                                <div class="order"><a href="#">Burger</a></div>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.4s"><img src="{{ url_for('static', filename='images/donelt.png') }}" alt=""/>
                                <div class="order"><a href="#">Dounat</a></div>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.6s"><img src="{{ url_for('static', filename='images/sup.png') }}" alt=""/>
                                <div class="order"><a href="#">Zupa</a></div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="food1">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.8s"><img src="{{ url_for('static', filename='images/checken.png') }}" alt=""/>
                                <div class="order"><a href="#">Kurczak</a></div>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="4s"><img src="{{ url_for('static', filename='images/passta.png') }}" alt=""/>
                                <div class="order"><a href="#">Spaghetti</a></div>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="4.2s"><img src="{{ url_for('static', filename='images/bhel.png') }}" alt=""/>
                                <div class="order"><a href="#">Cuisine Name</a></div>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="4.4s"><img src="{{ url_for('static', filename='images/past.png') }}" alt=""/>
                                <div class="order"><a href="#">Makarony</a></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section6">
        <div class="container">
            <div class="row bg os-animation" data-os-animation="flash" data-os-animation-delay="1s">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="images">
                        <h3 class="os-animation">Enjoy Exclusive Food <br/>
                            Order any of these</h3>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="point">
                        <p><span>&#10152;</span><a href="#"> Party Order</a></p>
                        <p><span>&#10152;</span><a href="#">Home Made Food</a></p>
                        <p><span>&#10152;</span><a href="#">Diet Food</a></p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <figure class="imgs"><img src="{{ url_for('static', filename='images/abc.png') }}" alt=""/></figure>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="button"><a href="#">Order Now</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section7">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
                    <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
                        <img
                                src="{{ url_for('static', filename='images/plan.png') }}" alt=""/></figure>
                    <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.3s">
                        <h3>100% Service Guarantee </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
                    <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s">
                        <img
                                src="{{ url_for('static', filename='images/mak.png') }}" alt=""/></figure>
                    <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.8s">
                        <h3>100% Service Guarantee </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2s">
                        <img
                                src="{{ url_for('static', filename='images/kljj.png') }}" alt=""/></figure>
                    <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.3s">
                        <h3>100% Service Guarantee </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
